*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(173, 216, 230, 0.421);
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0px 20px 0px;
    color: darkcyan;
}
.text{
    text-align: center;
    font-style: italic;
}
.textarea{
    width: calc(80% - 100px);
    height: 180px;
    border: 3px solid black;
    box-shadow: 0px 0px 5px grey;
    font-size: 18px;
}
.keyboard{
    display: grid;
    border-radius: 30px;
    justify-content: center;
    grid-template-columns: repeat(17, 50px);
    grid-template-rows: repeat(5, minmax(auto, 40px));
    padding: 30px 10px;
    width: 80%;
    margin: 30px 0px 20px 0px;
    transition: 0.4s;
    background-color:seagreen;
    gap: 5px;
}
@media screen and (max-width: 1279px) {
    .keyboard{
        grid-template-columns: repeat(17, minmax(42px, auto));
        font-size: 16px;
    }
}
@media screen and (max-width: 975px) {
    .keyboard{
        grid-template-columns: repeat(17, minmax(30px, auto));
        font-size: 14px;
    }
}

.key{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.7);
    /* border: 1px solid rgba(0, 0, 0, 0.7); */
    color: white;
    box-shadow: 0px 0px 3px black;
}
.key:hover{
    background-color:rgba(0, 0, 0, 0.5);
}
.key:nth-child(1){
    grid-column: 11;
    grid-row: 1;
}
.key:nth-child(11){
    grid-column: 1/2;
    grid-row: 1;
}
.key:nth-child(13){
    grid-column: 13/15;
}
.key:nth-child(14){
    grid-column: 15/18;
}
.key:nth-child(15){
    grid-column: 1/3;
}

.key:nth-child(28){
    grid-column: 15/17;
}
.key:nth-child(30){
    grid-column: 1/3;
}
.key:nth-child(42){
    grid-column: 14/18;
}
.key:nth-child(43){
    grid-column: 1/4;
}
.key:nth-child(55){
    grid-column: 15/18;
}
.key:nth-child(59){
    grid-column: 4/12;
}
.key:nth-child(64){
    grid-column: 16/18;
}
.key.active{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.655);
    border-radius: 7px;
    transform: scale(0.98);
    transform: translateY(1px);
    transition: 0.4s;
    background-color: rgba(255, 255, 0, 0.495);
}
