*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color:azure;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 20px;
}
.textarea{
    width: calc(80% - 200px);
    height: 300px;
    border: 3px solid black;
    box-shadow: 0px 0px 5px grey;
    font-size: 18px;
}
.keyboard{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(17, minmax(auto, 50px));
    grid-template-rows: repeat(5, minmax(auto, 40px));
    padding: 50px 20px;
    width: 80%;
    margin: 50px 70px;
    background-color:seagreen;
    gap: 3px;
}
.key{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: white;
}
.key:hover{
    background-color:rgba(0, 0, 0, 0.5);
}
.key:nth-child(1){
    grid-column: 11;
    grid-row: 1;
}
.key:nth-child(11){
    grid-column: 1/3;
    grid-row: 1;
}
.key:nth-child(13){
    grid-column: 14/16;
}
.key:nth-child(14){
    grid-column: 16/18;
}
.key:nth-child(15){
    grid-column: 1/3;
}
.key:nth-child(14){
    grid-column: 16/18;
}
.key:nth-child(28){
    grid-column: 15/17;
}
.key:nth-child(30){
    grid-column: 1/3;
}
.key:nth-child(42){
    grid-column: 14/18;
}
.key:nth-child(43){
    grid-column: 1/4;
}
.key:nth-child(55){
    grid-column: 15/18;
}
.key:nth-child(59){
    grid-column: 4/12;
}
.key:nth-child(64){
    grid-column: 16/18;
}
.key.active{
    transform: scale(0.95);
    box-shadow: 0px 0px 5px black;
    transition: 0.3s;
    background-color:rgba(0, 0, 255, 0.3);
}